BOT_TOKEN=
GMAIL_USER=
GMAIL_APP_PASSWORD=
EMAIL_FROM_NAME=OOOHA! - Social Sport
EMAIL_SUBJECT=OOOHA! Update
ALLOWED_TELEGRAM_USER_IDS=

INSTAGRAM_URL=
FACEBOOK_URL=
LINKEDIN_URL=
X_URL=
WEBSITE_URL=
